@charset "utf-8";
/* CSS Document */

/* 内容开始 */
.yinghui-block dt { padding:12px 0px; border-bottom:2px solid #666; height:32px;}
.yinghui-block dt h1 { float:left; height:32px; line-height:32px; padding:0px 10px; font-family:"宋体"; font-size:14px; font-weight:bold; color:#fff; background-color:#ab304d;}
.yinghui-block dt span { display:block; float:right; overflow:hidden; height:32px; line-height:32px;}
.yinghui-block dt span a { display:block; color:#666; padding-right:10px;}
.yinghui-block dt span a:hover { color:#ab304d;}

.yinghui-block ul { padding:12px 0px 16px 0px; height:313px;}
.yinghui-block li { float:left; width:217px; height:283px; padding:15px 25px 15px 15px; background:url(../img/bg-yinghui-block.png) no-repeat left top;}
.yinghui-block li:hover { background:url(../img/bg-yinghui-block.png) no-repeat 0px -313px;}
.yinghui-block li.li-last { padding-right:15px;}

/* 图片旋转效果 */
.yinghui-block li a.pic { display:block; width:217px; height:123px; overflow:hidden;}
.yinghui-block li a.pic img { -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);  -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); box-shadow: 4px 4px 4px rgba(0,0,0,0.2); -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}
.yinghui-block li a.pic img:hover { -webkit-transform: rotate(-5deg);  -moz-transform: scale(1.1) rotate(-3deg) translate(0,0em); -o-transform: rotate(-5deg);}

.yinghui-block h1 { font-family:"宋体"; font-size:14px; font-weight:bold; color:#333; text-align:left; line-height:20px; padding:10px 0px;}
.yinghui-block p { color:#999; height:60px; overflow:hidden; line-height:20px; padding:8px 0px; border-bottom:dotted 1px #ccc; border-top:dotted 1px #ccc;}
.yinghui-block h6 a { display:block; line-height:40px; font-weight:normal; font-size:12px; color:#b13e5a; }
.yinghui-block h6 a:hover { text-decoration:underline;}
.block-last { border-bottom:solid 1px #b3b3b3;}

/* 页码开始 */
.page { width:404px; height:28px; margin:0 auto; padding:10px 0px 30px 0px; text-align:center;}
.page li { float:left; overflow:hidden; padding:0px 4px; width:40px; height:28px; line-height:26px; font-family:Tahoma, Geneva, sans-serif;}
.page li a { display:block; background:url(../img/btn-subpage.png) no-repeat; height:28px; color:#333;}
.page li a:hover { display:block; color:#ab304d; background:url(../img/btn-subpage.png) no-repeat 0px -28px;}
.page .Wider { width:50px; }
.page .Wider a { background:none; background:url(../img/btn-subpage.png) no-repeat 0px -56px;}
.page .Wider a:hover { background:none; background:url(../img/btn-subpage.png) no-repeat 0px -84px;}